/Release
/OpenGL_TF.opensdf

OpenGL_TF/Release/main_1.obj
OpenGL_TF/Release/OpenGL_TF.log
OpenGL_TF/Release/OpenGL_TF.tlog/cl.command.1.tlog
OpenGL_TF/Release/OpenGL_TF.tlog/CL.read.1.tlog
OpenGL_TF/Release/OpenGL_TF.tlog/CL.write.1.tlog
OpenGL_TF/Release/OpenGL_TF.tlog/link.command.1.tlog
OpenGL_TF/Release/OpenGL_TF.tlog/link.read.1.tlog
OpenGL_TF/Release/OpenGL_TF.tlog/link.write.1.tlog
OpenGL_TF/Release/OpenGL_TF.tlog/OpenGL_TF.lastbuildstate
OpenGL_TF/Release/Shader.obj
OpenGL_TF/Release/vc120.pdb
OpenGL_TF/Release/glad.obj
/OpenGL_TF.sdf
Debug/OpenGL_TF.exe
Debug/OpenGL_TF.ilk
Debug/OpenGL_TF.pdb
OpenGL_TF/Debug/glad.obj
OpenGL_TF/Debug/main.obj
OpenGL_TF/Debug/main_1.obj
OpenGL_TF/Debug/OpenGL_TF.log
OpenGL_TF/Debug/OpenGL_TF.tlog/cl.command.1.tlog
OpenGL_TF/Debug/OpenGL_TF.tlog/CL.read.1.tlog
OpenGL_TF/Debug/OpenGL_TF.tlog/CL.write.1.tlog
OpenGL_TF/Debug/OpenGL_TF.tlog/link.command.1.tlog
OpenGL_TF/Debug/OpenGL_TF.tlog/link.read.1.tlog
OpenGL_TF/Debug/OpenGL_TF.tlog/link.write.1.tlog
OpenGL_TF/Debug/OpenGL_TF.tlog/OpenGL_TF.lastbuildstate
OpenGL_TF/Debug/Shader.obj
OpenGL_TF/Debug/vc120.idb
OpenGL_TF/Debug/vc120.pdb
OpenGL_TF.sdf
OpenGL_TF.sdf
OpenGL_TF.sdf
OpenGL_TF.sdf
OpenGL_TF.v12.suo
